{# TODO : manage errors display #}

<form method="post">
	<input type="hidden" value="{{ category.id }}" name="id">
	<label for="name">nom :</label>
	<input type="text" value="{{ category.name }}" name="name" id="name">
	<label for="description">description :</label>
	<input type="description" value="{{ category.description }}" name="description" id="description">
	<button>Submit</button>
</form>
