{% extends 'layout.html.twig' %}


{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style.css"> 
    <link rel="stylesheet" href="/assets/css/_navbar.css" />
    <link rel="stylesheet" href="/assets/css/_categories.css" />
{% endblock %}
{% block content %}
    <h1>Add a new Category</h1>
    {% include '/Categories/_form.html.twig' %}
{% endblock %}