<div class="banner">
    <picture
        ><source
            media="(max-width: 800px)"
            srcset="/assets/images/banner-default.jpg"
            style="height: 400px"
        />
        <source
            media="(min-width: 801px)"
            srcset="/assets/images/banner4.jpg"
        />
        <img src="/assets/images/banner4.jpg" alt="" />
    </picture>
</div>

<div class="index">
  
<section class="categories">
    <header class="categories-header">
        {# <h1 class="cat-title"> Les catégories </h1></header> #}
        <img src="/assets/images/catégories.png" alt="Catégories" class="header-image1"></header>
	{% for category in categories %}
		<article class="category">
			<img class="avatar" src="https://picsum.photos/100">
            <div class="category-content">
            <h2 class="titre">
				<a href="/topics?id={{ category.id }}">
					{{ category.name }}</a>
			</h2>
			<p class="description">{{ category.description }}</p>
            </div>
		</article>
	{% else %}
		<article class="category">C'est vide 🤦</article>
	{% endfor %}
</section>
<section class= "last-section">
    <header class="messages-header">
        {# <h1 class="latest-title">Derniers messages</h1> #}
        <img src="/assets/images/derniers-messages.png" alt="Derniers messages" class="header-image2">
    </header>
<aside class="latest-messages">
    
        <article class="category-content">C'est vide 🤦</article>

</aside>
</section>
</div>