
{% block content %}
    <h1>Modifier votre profil: {{ category.name }}</h1>
    {% include '/Categories/_form.html.twig' %}
    <a href="/categories/show?id={{ Category.id }}">Retour</a>
{% endblock %}