        <nav class="navbar">
            <div class="logo">
                <a href="\"><img
                    src="\assets\images\logo1.png"
                    alt="La Gazette du Sorcier"
                /></a>
            </div>
            <div class="search-bar">
                <form action="#" method="get">
                    <input
                        type="text"
                        name="query"
                        placeholder="Rechercher dans les catégories"
                    />
                    <button type="submit">
                        <i
                            class="fa-solid fa-magnifying-glass"
                            style="color: #52577c"
                        ></i>
                    </button>
                </form>
            </div>
            <div class="nav-links">
                <a href="#" class="icon-button">
                    <i class="fa-regular fa-bell"></i>
                </a>
                {# <a href="#" class="icon-button" id="profile-icon">
                    <i class="fa-regular fa-user"></i>
                </a> #}
                {% if user is defined %}
    <a href="/profile?id={{ user.id }}" class="icon-button">
        <i class="fa-regular fa-user"></i>
    </a>
    {% else %}
    <a href="/login" class="profile-icon">
        <i class="fa-solid fa-user"></i>
    </a>
    {% endif %}
                <div class="dropdown">
                    <button class="dropdown-toggle">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a href="#">Contact</a>
                        <a href="/users">Gestion d'utilisateur</a>
                        <a href="#">A propos</a>
                        <a href="#">Mentions Légales</a>
                    </div>
                </div>
            </div>
        </nav>
   