<nav class="navbar">
    <div class="logo">
        <a href="\"
            ><img src="\assets\images\logo1.png" alt="La Gazette du Sorcier"
        /></a>
    </div>
<input type="hidden" id="session_id" value="{{user.id}}">
    <div class="search-container">
        <form id="search-form" action="" method="get">
            <input
                type="text"
                id="search-input"
                autocomplete="off"
                placeholder="Rechercher dans les catégories"
            />
            <div id="suggestions" class="suggestions-container"></div>
        </form>
    </div>
    <div class="nav-links">
        {% if user is defined and user.id is not null and user.isUserAdmin %}
        <div class="dropdown">
            <button class="dropdown-toggle">
                <i
                    class="fa-solid fa-screwdriver-wrench"
                    class="icon-button"
                ></i>
            </button>
            <div class="dropdown-menu" id="admin-dropdown">
                <a href="/users">Gestion d'utilisateur</a>
                <a href="/categories/add">Ajouter une catégorie</a>
                <a href="/categories/manage">Gérer les catégories</a>
            </div>
        </div>
        {% endif %}
        <div class="dropdown" id="notification-button">
            <button class="dropdown-toggle">
                <i
                    class="fa-solid fa-bell"
                    class="icon-button"
                ></i>
            </button>
            <div class="dropdown-menu" id="notification-dropdown">
            </div>
        </div>





        {% if user is defined and user.id is not null %}
        <a href="/profile" class="icon-button">
            <i class="fa-solid fa-user"></i>
        </a>
        {% else %}
        <a href="/login" class="icon-button">
            <i class="fa-solid fa-user"></i>
        </a>
        {% endif %}
        <div class="dropdown">
            <button class="dropdown-toggle">
                <i class="fa-solid fa-bars" class="icon-button"></i>
            </button>
            <div class="dropdown-menu">
                <a href="/contact">Contact</a>
                <a href="/about">À propos</a>
                {% if user is defined and user.id is not null %}
                <a href="/logout">Déconnexion</a>
                {% else %}
                <a href="/login">Se connecter</a>
                <a href="/register">S'inscrire</a>
                {% endif %}
                <a href="/notice">Mentions Légales</a>
            </div>
        </div>
    </div>
</nav>
