<nav class="navbar">
    <div class="logo">
        <a href="\"
            ><img src="\assets\images\logo1.png" alt="La Gazette du Sorcier"
        /></a>
    </div>

    <div class="search-container">
        <form id="search-form" action="" method="get">
            <input type="text" id="search-input" autocomplete="off" placeholder="Rechercher dans les catégories">
            <div id="suggestions" class="suggestions-container"></div>
        </form>
    </div>
    

    <div class="nav-links">
        <a href="#" class="icon-button">
            <i class="fa-regular fa-bell"></i>
        </a>
        {% if user is defined and user.id is not null %}
        <a href="/profile?id={{ user.id }}" class="icon-button">
            <i class="fa-regular fa-user"></i>
        </a>
        {% else %}
        <a href="/login" class="icon-button">
            <i class="fa-regular fa-user"></i>
        </a>
        {% endif %}
        <div class="dropdown">
            <button class="dropdown-toggle">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="dropdown-menu">
                <a href="/contact">Contact</a>
                <a href="#">A propos</a>
                <a href="/notice">Mentions Légales</a>
                {% if user is defined and user.id is not null %}
                <a href="/users">Gestion d'utilisateurs</a>
                <li><a href="/logout">Déconnexion</a></li>
                {% else %}
                <li><a href="/login">Se connecter</a></li>
                <li><a href="/register">S'inscrire</a></li>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
