<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>La Gazette du Sorcier</title>
        <script
            src="https://kit.fontawesome.com/fd69216cb8.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="../../../public/assets/css/_navbar.css" />
    </head>
    <body>
        <nav class="navbar">
            <div class="logo">
                <img
                    src="../../../public\assets\images\logo1.png"
                    alt="La Gazette du Sorcier"
                />
            </div>
            <div class="search-bar">
                <form action="#" method="get">
                    <input type="text" name="query" placeholder="Rechercher" />
                    <button type="submit">
                        <i
                            class="fa-solid fa-magnifying-glass"
                            style="color: #52577c"
                        ></i>
                    </button>
                </form>
            </div>
            <div class="nav-links">
                <a href="#" class="icon-button">
                    <i class="fa-regular fa-bell"></i>
                </a>
                <a href="#" class="icon-button">
                    <i class="fa-regular fa-user"></i>
                </a>
                <div class="dropdown">
                    <button class="dropdown-toggle">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a href="#">Contact</a>
                        <a href="#">A propos</a>
                        <a href="#">Mentions Légales</a>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>
