body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    margin: 0;
}

.form {
    background-color: #fff;
    display: block;
    padding: 2rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
  }
  .label-title{
    color: #000000;
  }
  
  .input-container {
    position: relative;
    padding-bottom: 20px;
  }
  
  .input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
       
  }
  
  .input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .input-container span {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    place-content: center;
  }
  
  .input-container span svg {
    color: #9CA3AF;
    width: 1rem;
    height: 1rem;
  }
  
  .submit {
    display: block;
    padding: 1rem 2rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
     width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .register-link .forgot-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: right;
     
  }
  .register-link{
    text-align: right;
  }

  .error{
    color:rgb(202, 106, 106);
  }
  
  

  @media screen and (max-width: 480px) {
    .form {
      max-width: 60%;  
    }
    input {
        max-width: 80%;
        background-color: #e5e7eb; 
      } 
  }