.component
{
  padding: 0;
  outline: none;
  width: 60vw;
  text-align: left;
  font-weight: lighter;
  font-size: large;
  font-style: italic;
  color:var(--primary-color);
  display: grid;
  gap:3rem;
}

.categorie form
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  grid-area: 1 / 2 / 3 / 4;
  max-height: 200px;
}
.categorie form .titre
{
  grid-area: 1 / 2 / 2 / 4;
}
.categorie{
  width:fit-content;
  border-radius: 10px;
  background-color: var(--text-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.categorie p{
  color:black;
}
.titre
{
    grid-area: 1 / 2 / 2 / 3;
}
.avatar {
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 10px;
}

.description {
    grid-area: 2 / 2 / 3 / 4;
}

.illustration { 
  border-radius: 10px;
  grid-area: 1 / 4 / 3 / 5;
}

.categorie a
{
  text-decoration: none;
}

@media screen AND (max-width: 800px) {
  .categorie
  {
    width: 100%;
  }
  .component
  {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}