.component
{
  margin-top: 3rem;
  padding: 0;
  outline: none;
  width: 60vw;
  text-align: left;
  font-weight: lighter;
  font-size: large;
  font-style: italic;
  color:var(--primary-color);
  display: grid;
  gap:3rem;
}

.categorie form
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  grid-area: 1 / 2 / 3 / 4;
  max-height: 200px;
}
.categorie form .titre
{
  grid-area: 1 / 2 / 2 / 4;
}
.categorie{
  max-width: 70%;
  border-radius: 10px;
  background-color: var(--text-color);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr ;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.categorie p{
  color:black ;
  font-weight: 200;
}
.titre
{   
    color: var(--content-text-color); 
    padding-top: 1rem;
    grid-area: 1 / 2 / 2 / 3;
}
.avatar {
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 10px;
}

.description {
    grid-area: 2 / 2 / 3 / 4;
}

.illustration { 
  border-radius: 10px;
  grid-area: 1 / 4 / 3 / 5;
}

.categorie a
{
  color: var(--content-text-color); 
  text-decoration: none;
}

@media screen AND (max-width: 800px) {
  .categorie
  {
    width: 120vw;
  }
  .categorie .date
  {
    font-size:0.7rem; 
  }

  .component
  {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}