
.index {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22rem;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 10rem;
}

.categories-header,
.messages-header {
    width: 100%;
    padding: 0;
    text-align: center;
}
.header-image1 {
    height: 200px;
}
.header-image2 {
    padding-top: 25vh;
}

header img {
    max-width: 100%;
    height: auto;
}

.categories {
    width: 66.6%;
    margin-right: 1rem;
}
.last-section {
    width: 30%;
}

.latest-messages {
    background-color: #f9f9f9;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    height: 40vh;
}

.category {
    display: flex;
    align-items: flex-start;
    background-color: var(--text-color);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.category img.avatar {
    border-radius: 10px;
    margin-right: 1rem;
}

.category-content {
    text-align: center;
    flex-grow: 1;
    color: var(--content-text-color);
}

.titre,
.description {
    margin: 0;
    color: var(--content-text-color);
}

.titre {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.description {
    font-size: 1rem;
    font-weight: 300;
}

.category a {
    color: var(--content-text-color);
    text-decoration: none;
}
.banner {
    background: repeat-y;
    position: absolute;
    z-index: -1000;
    height: 550px;
    border-radius: 0 0 50px 50px;
    margin-bottom: 50px;
    top: 0;
    opacity: 0.5;
    left: 50%;
    transform: translateX(-50%);
}

.addForm {
    background-color: #fff;
    display: block;
    padding: 2rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


@media screen and (max-width: 800px) {
    .index {
        flex-direction: column;
        margin-top: 5rem ;
    }

    .categories,
    .last-section {
        width: 100%;
        margin-right: 0;
    }

    .last-section {
        margin-top: 1rem;
    }
    .banner {
        background-size: cover;
        height: 400px;
    }

    .header-image2 {
        padding-top: 4vh;
    }
}
