.component {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.comment {
    margin: 0.5rem;
    background-color: #efcea2;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 0.2rem;
    padding: 3rem;
    border-radius: 30px 30px 0 30px;
    height: 250px;
}

.comment-part-1 {
    position: relative;
}

.comment-part-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: #f2d7b5;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.description {
    color: #6f4e23;
    font-size: 1.2rem;
    font-weight: 600;

}

.author {
    color: #6f4e23;
    font-size: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;

}

.comment-part-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-40%);
    transform: translateY(-30%);
    border-radius: 50%;
    width: 70%;
    height: 70%;
}

.picture-comment {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--content-text-color);
}

.form-center {
    margin: 0 auto;
}


.add-form {
    margin-top: 5rem;
    width: 50%;
    text-align: center;
}

.textbox {
    resize: none;
    display: block;
    font-size: 20px;
    margin: auto;
    padding: 15px;
    background-color: #f9ebda;
    border-radius: 0;
    height: 301px;
}

.add-form-bottom {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

.upload-file {
    background: #efcea2;
    text-transform: uppercase;
    padding: 10px;
    font-size: 16px;
    color: #f9f9f9;
    cursor: pointer;
}

/* Show comments page */
.comment-show {
    display: block;  
}

.w-70 {
    width: 70%;
    margin: 0 auto;
}

.mt-100 {
    margin-top: 100px;

}

/* Input File */
label input[type='file']{ display: none; }
label span {
  cursor: pointer;
  background: linear-gradient(to bottom, rgb(255, 196, 0) 0%, rgb(68, 44, 0) 100%);
  font: 13pt Tahoma;
  text-shadow: -1px -1px 0 rgb(68, 50, 0);
  color: #FFF;
  border: 2px solid rgb(238, 174, 0);
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: 1px 3px 0 rgb(34, 23, 0);
}
label span:hover { border-color: rgb(255, 196, 0); }
label span:active {
  background: linear-gradient(to top, rgb(255, 217, 0) 0%, #024 100%);
  box-shadow: 1px 1px 0 #012;
}

/* Button */
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .comment-submit {
    min-width: 300px;
    min-height: 60px;
    display: inline-flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #c99a34;
  background: linear-gradient(90deg, rgb(230, 223, 129) 0%, rgb(209, 168, 79) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(209, 179, 79, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .comment-submit::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #d1b146;
    box-shadow: 0 0 60px rgba(255, 230, 0, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .comment-submit:hover, 
  .comment-submit:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .comment-submit:hover::before, 
  .comment-submit:focus::before {
    opacity: 1;
  }
  
  .comment-submit::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #caa94c;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .comment-submit:hover::after, 
  .comment-submit:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

/* Add comments page */
.comment-add {
    display: block;
}

.comment-add-title {
    font-size: 3rem;
    color: var(--content-text-color);
    text-align: center;
    margin-bottom: 6rem;
}

/* Media querries */
@media screen and (max-width: 1100px) {
    .component {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .w-70 {
        width: 100%;
    }
    
    .form-100 {
        width: 100%;
    }

    .add-form {
        width: 100%;
    }
}