.footer {
    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem;
    color: var(--text-color);
    font-size: 1rem;
    background-color: var(--primary-color);
}

.footer-icons {
    display: flex;
    gap: 1rem;
}

.footer-icon {
    font-size: 1.4rem;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    .footer-content {
        margin-bottom: 1rem;
    }
    .footer-icons {
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
    .footer-icon {
        font-size: 2rem;
    }
}
