.footer {
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
    transform: translateY(50%);
    justify-content: space-between;
    padding: 0 2rem;
    color: var(--text-color);
    font-size: 1rem;
}

.footer-icon {
    font-size: 1.4rem;
    cursor: pointer;
}

 
@media screen and (max-width: 800px) {
    footer {
        padding: 15px;
    }
    .footer-icon{
        font-size: 2rem;
    }
}