#vifdor {
    position: fixed;
    width: 150px;
    height: 150px;
    background: url('/assets/images/giphy.gif') no-repeat center center / contain;
    transition: transform 1s ease-in-out;
    z-index: 9999;
}
