.modal-card {
    width: 280px;
    height: fit-content;
    background-color: rgb(255, 250, 250);
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    gap: 15px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.066);
    margin: auto; 
}

.modal-heading {
    color: rgb(34, 34, 34);
    font-weight: 800;
}

.modal-para {
    font-size: 11px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.button-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.modal-button {
    width: 100%;  
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
}

.modal-button:hover {
    opacity: 0.8;
}

.exit-button {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.exit-button:hover {
    background-color: #ddd;
    color: white;
}

.svgIconCross {
    height: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
