.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    z-index: 1;
}

.logo img {
    height: 200px;
}

.search-container {
    display: flex;
    align-items: center;
    width: auto;
    position: relative;
}

.search-container input {
    padding: 5px 10px;
    border-radius: 15px;
    outline: none;
    width: 40vw;
    height: 40px;
    text-align: left;
    font-weight: lighter;
    font-size: large;
    font-style: italic;
    background-color: white;
    border-bottom: none;
}

.suggestions-container {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    background-color: white;
    border-radius: 15px;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    width: 40vw;
    z-index: 1000;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    font-size: large;
    font-style: bolder;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

.suggestion-name {
    font-weight: bold;
    color: #333;
}

.suggestion-type {
    font-style: italic;
    color: #666;
}

.nav-links {
    display: flex;
    align-items: center;
    padding-right: 70px;
    gap: 10px;
}

.icon-button {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 35px;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #1d1b20;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-menu a {
    display: block;
    padding: 10px;

    color: white;
    width: 150px;
    text-align: left;
    font-size: large;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #333;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.notification{
width: 350px;
margin: 1rem;
}

.notification-delete{
    color: var(--text-color);
}

.hidden{
    display: none;
}


@media screen and (max-width: 960px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        width: 100%;
        justify-content: space-around;
        padding: 30px 0;
        z-index: 1;
    }

    #search-form {
        width: 100%;
    }

    .search-container {
        width: 100%;
        margin-top: 10px;
        position: relative;
    }

    .search-container input {
        width: 100%;
    }

    .suggestions-container {
        width: 100%;
    }
    
    #admin-dropdown {
        position: absolute;
        left: 0;
        width: max-content;
    }
}
