h1 {
    color: var(--content-text-color);
    text-align: center;
    margin-bottom: 20px;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto 120px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #000000;
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    padding: 10px;
    text-align: left;
    color: var(--text-color);
    font-size: large;
}

th {
    background-color: #525252;
    color: var(--text-color);
    font-size: 1.2rem;
}

tr:nth-child(even) {
    background-color: #333;
}

tr:hover {
    background-color: #7a7878;
}

.button-delete {
    background-color: var(--content-text-color);
    color: rgb(49, 49, 49);
    border: none;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: bold;
}

.button-delete:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.button-delete:active {
    background-color: var(--primary-color);
    box-shadow: 0 3px #1d1b1b;
    transform: translateY(2px);
}

@media screen and (max-width: 800px) {
    .table-wrapper {
        width: 95%;
    }

    th,
    td {
        padding: 10px;
    }

    .button-delete {
        padding: 8px;
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    tr {
        margin-bottom: 10px;
    }

    td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        white-space: pre-wrap;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }

    .button-delete {
        width: 100%;
        display: block;
    }
}
