.profile-page {
    color: var(--content-text-color);
    margin-bottom: 150px;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.profile-picture {
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 45%;
}

.pic-btn {
    background-color: var(--content-text-color);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: -100px;
    font-size: 15px;
    margin-top: 160px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.profile-section .section {
    width: 48%;
}

.profile-section .section button {
    display: block;
    margin-top: 10px;
}

.profile-details {
    margin-top: 20px;
}

.profile-details div {
    margin-bottom: 10px;
}

.profile-details button {
    display: block;
    margin-top: 10px;
}
