:root {
    --primary-color: #000000;
    --text-color: #e6e6e6;
    --font-principal: 'Poppins', sans-serif;
    --content-text-color: #de9c45;
}

/* Reinitialisation complete */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

p {
    color: var(--text-color);
    font-family: var(--font-principal);
}

body {
    padding: 3rem;
    background-color: var(--primary-color);

}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que la hauteur minimale de la page est 100% de la hauteur de la fenêtre */
}


.success{
    display: none;
}
