#conteneur-topic {
    min-height: 50vh;
}

.topic-component {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.topic-card {
    display: flex;
    align-items: flex-start;
    width: 80%;
    background-color: #f6eeda;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topic-card .author-info {
    width: 20%;
    text-align: center;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}
.topic-card .author-info p {
    font-size: 1rem;
    color: #666;
}
.topic-card .author-info img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    object-fit: cover;
}

.topic-card .message-content {
    width: 80%;
    padding-left: 20px;
}

.topic-card .message-content .title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.topic-card .message-content .date {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
}

.topic-card .message-content .content {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
}

.topic-card .message-content .picture {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.topics-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    min-height: 50vh;
    padding-bottom: 20px;
}

.topic-overview {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f6eeda;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%;
}

.user-image {
    flex: 0 0 100px;
    width: 100px;
    height: 120px;
    margin-right: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.author-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.topic-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.topic-author {
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    word-wrap: break-word;
}
.topic-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.topic-content,
.topic-date {
    font-size: 1rem;
    color: #666;
    margin-bottom: 5px;
}

.topic-picture {
    margin-top: 10px;
    max-width: 100%;
}

.topic-picture img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
}
.add-topic-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--content-text-color);
    color: black;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.add-topic-button:hover {
    background-color: black;
    color: var(--content-text-color);
}

@media (max-width: 800px) {
    .topic-overview {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-image {
        margin-bottom: 20px;
        align-self: center;
    }
}
/* add form */

/* Styles pour le formulaire "Ajouter un topic" */
.topic-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 1rem;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.topic-form-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--content-text-color);
    background-color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.topic-form-error {
    color: #ff0000;
    margin-bottom: 1rem;
}

.topic-form-group {
    width: 100%;
    margin-bottom: 1.5rem;
}

.topic-form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.topic-form-input,
.topic-form-textarea {
    width: 100%;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s ease;
}

.topic-form-textarea {
    resize: vertical;
    min-height: 150px;
    max-height: 300px;
}

.topic-form-submit {
    width: 100%;
    padding: 1rem;
    background-color: var(--content-text-color);
    color: black;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.topic-form-submit:hover {
    background-color: black;
    color: var(--content-text-color);
}

@media screen and (max-width: 800px) {
    .topic-form {
        max-width: 100%;
        padding: 1.5rem;
    }

    .topic-form-title {
        font-size: 1.5rem;
    }
}
