.topic-component{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic
{
    margin: 2em 0;
    color: var(--primary-color);
    max-width: 100%;
    border-radius: 10px;
    background-color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding-right: 1em;
}

.topic-card
{
    color: var(--primary-color);
    max-width: 70%;
    border-radius: 10px;
    background-color: var(--text-color);
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    padding-right: 1em;
    justify-items: center;
}

.date{
    color: var(--primary-color);
    align-self: self-end;
    justify-self: end;
}

.card{
  display: flex;
  justify-content: center;
}

.title{
  color: var(--content-text-color);
  font-size: 1.3em;
  justify-self: center;
}

textarea {
    resize: none;
    border-radius: 20px;
    height: 10em;
    width: 100%;
    padding: 5px;
}

.content{
    margin: 2rem;
}

.picture{
    width: 350px;
    height: 300px;
}


@media screen AND (max-width: 800px) {
.card{
    width: 100%;
}
}

