
.card{
  display: flex;
  justify-content: center;
}

.title{
  margin-bottom: 2rem;
  color: var(--content-text-color);
}

textarea {
    resize: none;
    border-radius: 20px;
    height: 10em;
    width: 100%;
    padding: 5px;
}

.topic-component{
    display: flex;
    justify-content: center;
}

.topic
{
    color: var(--primary-color);
    max-width: 70%;
    border-radius: 10px;
    background-color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
 p{
    color: var(--primary-color);
 }


.content{
    margin: 2rem;
}

.picture{
    width: 350px;
    height: 300px;
}










@media screen AND (max-width: 800px) {
.card{
    width: 100%;
}
}



