{% extends 'layout.html.twig' %} {% block stylesheet %}
<link rel="stylesheet" href="/assets/css/staticPage.css" />

{% endblock %} {% block title %}À Propos{% endblock %} {% block content %}
<header class="header">
    <h1 class="header__title">À Propos de Nous</h1>
</header>
<main class="main-content">
    <section class="section">
        <h2 class="subsection__title">
            Bienvenue sur La Gazette des Sorciers !
        </h2>
        <p class="section__text">
            La Gazette des Sorciers est un forum en ligne dédié aux passionnés
            de l'univers magique de Harry Potter. Que vous soyez un fervent
            admirateur des aventures du jeune sorcier ou simplement curieux
            d'explorer le monde fascinant des sorciers, notre forum est
            l'endroit idéal pour partager vos pensées, discuter des livres et
            des films, et rencontrer d'autres fans comme vous.
        </p>
        <h2 class="subsection__title">Notre Mission</h2>
        <p class="section__text">
            Notre mission est de créer une communauté accueillante et engagée où
            les fans de Harry Potter peuvent se retrouver et échanger. Nous nous
            efforçons d'offrir un espace sûr et convivial pour des discussions
            enrichissantes, des analyses approfondies et des discussions sur
            tous les aspects de l'univers magique.
        </p>
        <h2 class="subsection__title">Qui Sommes-Nous ?</h2>
        <p class="section__text">
            La Gazette des Sorciers a été fondée par une équipe de passionnés de
            l'univers Harry Potter. Notre équipe est composée de modérateurs
            bénévoles et de contributeurs dévoués qui partagent un amour profond
            pour les livres et les films. Nous travaillons sans relâche pour
            maintenir un environnement agréable et sécurisé pour tous nos
            membres.
        </p>
        <h2 class="subsection__title">Nos Valeurs</h2>
        <p class="section__text">
            Nous croyons en la diversité, le respect et l'inclusivité. Notre
            communauté est ouverte à tous les fans, quel que soit leur âge,
            origine ou niveau de connaissance. Nous encourageons les échanges
            positifs et respectueux et veillons à ce que chaque membre se sente
            valorisé.
        </p>
        <h2 class="subsection__title">Nous Contacter</h2>
        <p class="section__text">
            Si vous avez des questions, des suggestions ou si vous souhaitez
            nous contacter pour toute autre raison, n'hésitez pas à nous envoyer
            un message via notre page de
            <a href="/contact"><strong>contact</strong></a
            >. Nous serons ravis de vous aider et de recevoir vos retours.
        </p>
        <h2 class="subsection__title">Rejoignez-Nous !</h2>
        <p class="section__text">
            Nous vous invitons à vous inscrire sur notre forum et à participer
            aux discussions. Que vous souhaitiez partager vos théories, poser
            des questions ou simplement discuter avec d'autres fans, La Gazette
            des Sorciers est l'endroit parfait pour vous.
        </p>
    </section>
</main>
{% endblock %}
