<section class="component comment-show">
	<article class="comment w-70 mt-100">
		<div class="comment-part-1">
			<img class="avatar" src="https://picsum.photos/100">
		</div>
		<div class="comment-part-2">
			<p class="description">{{ comment.content }}</p>
			<p class="date">{{ comment.created_at }}</p>
			<p class="author">Par {{ comment.id_user }}</p>
			{% if comment.picture is not null %}
			<img class="picture" src="{{'/upload/' ~ comment.picture}}">
			{% endif %}
		</div>
	</article>
</section>