<form class="form form-center form-100" action="comments/add" method="post" enctype="multipart/form-data">
    <div class="input-container">
        <label for="content">Contenu :</label>
        <textarea type="textarea" name="content" id="content">{{ comment.content }}</textarea>
    </div>
    <div class="input-container">
        <label for="picture">Image</label>
        <input type="file" name="picture" id="picture" accept=".jpg, .jpeg, .png, .gif">
    </div>

    <input class="topic" type="hidden" value="{{ topic.id }}" name="id_topic" id="id_topic">

    <button class="submit"> Envoyer </button>
</form>