<form class="add-form form-center" action="comments/add" method="post" enctype="multipart/form-data">
    <textarea class="textbox" type="textarea" name="content" id="content">{{ comment.content }}</textarea>
    <div class="add-form-bottom">
        <label>
            <input type="file" name="picture" id="picture" accept=".jpg, .jpeg, .png, .gif">
            <span>Choisir une image</span>
        </label>
        <input class="topic" type="hidden" value="{{ topic.id }}" name="id_topic" id="id_topic">
    
        <div class="wrap">
            <button class="comment-submit"> Envoyer </button>
        </div>
    </div>

</form>