{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style.css"> 
    <link rel="stylesheet" href="/assets/css/_navbar.css" />
    <link rel="stylesheet" href="/assets/css/_comments.css" />
    <link rel="stylesheet" href="/assets/css/_auth.css" />
{% endblock %}

{% block content %}
    <h2>{{ is_edit ? 'Modification du' : 'Ajout d\'un' }} commentaire</h2>

    {% include '/Comments/_form.html.twig' with {'comment': comment, 'is_edit': is_edit} %}
{% endblock %}