{% extends 'layout.html.twig' %} {% block stylesheet %}
<link rel="stylesheet" href="/assets/css/_auth.css" />
{% endblock %} {% block title %}Connexion{% endblock %} {% block content %}

<form method="post" action="/login" class="form">
    <h1 class="form-title">S'inscrire</h1>

    {% if error %}
    <p style="color: rgb(202, 106, 106)">{{ error }}</p>
    {% endif %}
    <label for="mail" class="label-title">Email</label>
    <div class="input-container">
        <input
            type="email"
            id="mail"
            name="mail"
            placeholder="Tapez votre Email"
        />

        <span>
            <svg
                stroke="currentColor"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                    stroke-width="2"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                ></path>
            </svg>
        </span>
    </div>
    <div class="input-container">
        <label for="password" class="label-title">Mot de passe</label>
        <input
            type="password"
            id="password"
            name="password"
            placeholder="tapez votre mot de passe"
        />
        <span>
            <svg
                stroke="currentColor"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                    stroke-width="2"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                ></path>
                <path
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                    stroke-width="2"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                ></path>
            </svg>
        </span>
    </div>
    <a href="/register" class="forgot-link">Mot de passe oublié</a>

    <button type="submit" class="submit">Se connecter</button>
    <p class="register-link">
        <a href="/register" class="register-link">S'inscrire</a>
    </p>
</form>

{% endblock %}
