{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/_auth.css">
<link rel="stylesheet" href="/assets/css/_form.css" />
{% endblock %}

{% block title %}Inscription{% endblock %}

{% block content %}
<section class="form-container">
    <div class="form-wrapper">
    <form method="post" action="/register" enctype="multipart/form-data" class="form">
        
        <h1 class="form-title">S'inscrire</h1>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <div class="input-container">
        <label for="name" class="label-title">Prénom</label>
        <input type="text" id="name" name="name" placeholder="Tapez votre prénom" >
    </div>
    <div class="input-container">
        <label for="lastname" class="label-title">Nom</label>
        <div class="input-container">
        <input type="text" id="lastname" name="lastname" placeholder="Tapez votre nom"  >
    </div>
    <div class="input-container">
        <label for="mail" class="label-title">Email</label>
        <input type="email" id="mail" name="mail" placeholder="Tapez votre Email"  >
    </div>
    <div class="input-container">
        <label for="password" class="label-title">Mot de passe</label>
        <input type="password" id="password" name="password" placeholder="Tapez votre mot de passe"  >
    </div>   
    <div class="input-container">
        <label for="profile_picture" class="label-title">Photo de profil</label>
        <input type="file" id="profile_picture" name="profile_picture">
    </div>  
        <button type="submit" class="submit">S'inscrire</button>
        <p  class="register-link"> 
        <a href="/login" class="register-link">Se connecter</a></p>
        <div class="g-recaptcha" data-sitekey="6LcfQx0qAAAAAMDontxsKVtB4BU6GHXT8oc71ZP5"></div>
    </form>
</div>
</section>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}