{% extends 'layout.html.twig' %} {% block stylesheet %}
<link rel="stylesheet" href="/assets/css/_auth.css" />
<link rel="stylesheet" href="/assets/css/_form.css" />
{% endblock %} 

{% block title %}Mot de passe oublié{% endblock %} 
{% block content %}

<section class="form-container">
    <div class="form-wrapper">
        <form method="post" class="form">
            <h1 class="form-title">Mot de passe oublié</h1>
            {% if error %}
            <p style="color: rgb(202, 106, 106)">{{ error }}</p>
            {% endif %}
            <div class="input-container">
                <label for="password" class="label-title">Mot de passe</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="tapez votre mot de passe"
                />
                <span>
                    <svg
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                            stroke-width="2"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                        ></path>
                        <path
                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                            stroke-width="2"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                        ></path>
                    </svg>
                </span>
            </div>
            <button type="submit" class="submit">Envoyer</button>
        </form>
    </div>
</section>
{%  endblock %}